html, body {
  height: 100%;
  font-family: sans-serif;
  background-color: #f7f8fb;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  color: #7f828b;
  line-height: 20px;
  margin-bottom: 4px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
}

.content_left, .content_center, .content_bottom_center {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  max-width: 450px;
}

.content_left {
  text-align: left;
  align-items: left;
}

.content_center, .content_bottom_center {
  text-align: center;
  align-items: center;
}

.content_bottom_center {
  margin-top: 30px;
}

.content_title_left, .content_text_left, .content_text_left_link, .content_text_center {
  font-size: 18px;
  color: #47494e;
  font-weight: 100;
}

.content_title_left {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content_text_left, .content_text_left_link {
  margin-top: 0px;
  margin-bottom: 10px;
}

.content_text_left_link {
  font-weight: 500;
  text-decoration: none;
}

.content_text_center {
  margin-top: 10px;
  margin-bottom: 30px;
}

.bottom_navigation {
  position: absolute;
  bottom: 20px;
  width: 80%;
  text-align: center;
}

.button, .button_last {
  text-align: center;
  align-self: center;
  align-items: center;
  text-decoration: none;
  padding: 2px 10px;
  font-size: 12px;
  color: #7f828b;
}

body.friendly {
  background: -webkit-linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  background:    -moz-linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  background:     -ms-linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  background:      -o-linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  background:         linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}

body.friendly p {
  color: #fff;
}

body.friendly .content_title_left, .content_text_left, .content_text_left_link, .content_text_center {
  color: #fff;
}

body.friendly .button {
  color: #fff;
  border-right: 1px solid #fff;
}

body.friendly .button_last {
  color: #fff;
}
